.container
{
    margin-bottom: 50px;
}
.orange-bg
{
    background-color: #fcefe8;
    border-radius: 10px;
}
.carousel-item
{
    padding: 20px 40px;
}
.price
{
    color: #ff136f;
}
.buy-now
{
    background-image: linear-gradient(to bottom, #ff589b 0%,#ff136f 100%);
    cursor: pointer;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
}
.buy-now: hover
{
    background-image: linear-gradient();
}